/* [class^=container], 
[class^=col], .ft-container{
    border: 1px solid black;
    background-color: rgba(255, 20, 145, 0.517);
} */

body{
    color: white;
}

.uppersize{
    text-transform: uppercase;
}

.ft-container{
    width: 60%;
    margin: 0 auto;
}
a:hover{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px 5px;
}


/* HEEADER */

header{
    background-color: #2C3E50;
    color: white;
}

.navbar-toggler .fa-bars{
    color: white;
    border: none;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link{
    color: white;
}


.jumbotron{
    height: 490px;
    background-color: #1ABC9B;
}

/* PORTFOLIO */
#portfolio{
    color: black;
}
.cards .col{

    /* DEBUG */
    height: 150px;
}

/* ABOUT */

#about{
    background-color: #1ABC9B;
}

.ft-btn{
    padding: 7px 10px;
    border: 1px  solid white;
    border-radius: 10px;
    text-decoration: none;
}

/* CONTACT */
#contact .row{
    color: black;
}

.form{
    height: 500px;
}
.ft-container .ft-green{
    background-color: #1ABC9B;
    color: white;
}
.ft-container .ft-green:hover{
    padding: 5px 5px;
}

/* FOOTER */

footer{
    background-color: #3A546D;
}

footer .footer-top{
    height: 230px;
}

footer .footer-bottom{
    height: 110px;
    background-color: #2C3E50;
}

footer div.container.footer-top.text-center div.container.align-items-center.pt-5 div.row.row-cols-1.row-cols-md-3 div.col div.social a.text-reset{
    border-radius: 50%;
    border:1px solid  white;
    padding: 5px 10px;
}
