/* [class^=container], 
[class^=col], .ft-container{
    border: 1px solid black;
    background-color: rgba(255, 20, 145, 0.517);
} */

body{
    color: white;
}

.uppersize{
    text-transform: uppercase;
}

.ft-container{
    width: 60%;
    margin: 0 auto;
}
a:hover{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px 5px;
}

.star{
    min-width: 350px;
    max-width: 60%;
    margin: 0 auto;
    height: 20px;
    font-size: 1.4rem;
    padding: 20px 0px;
}
.star .line{
    border: 2px solid  white;
    height: 1px;
    width: 200px;
    max-width: 300px;
    margin: 0px 10px;
}
.star .line-bk{
    border: 2px solid  black;
    height: 1px;
    width: 200px;
    max-width: 300px;
    margin: 0px 10px;
}


/* HEEADER */

header{
    background-color: #2C3E50;
    color: white;
}

.navbar-toggler .fa-bars{
    color: white;
    border: none;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link{
    color: white;
}
html body header div.container.h-100 nav.navbar.navbar-expand-lg.align-items-center div.container-fluid a.navbar-brand.text-reset:hover{
    padding: 0px 0px;
    background-color: #2c3e5000;
    font-size: 1.3rem;
}

/* JUMBOTRON */

.jumbotron{
    padding-top: 10px;
    margin-top: 45px;
    height: 490px;
    background-color: #1ABC9B;
}

.jumbotron .image img{
    max-width: 40%;
    width: 250px;
}

div.jumbotron div.container.text-center div.row h2{
    font-weight: 800;
}

/* PORTFOLIO */
#portfolio{
    color: black;
}


/* ABOUT */

#about{
    background-color: #1ABC9B;
}

.ft-btn{
    padding: 7px 10px;
    border: 1px  solid white;
    border-radius: 10px;
    text-decoration: none;
}

/* CONTACT */
#contact .row{
    color: black;
}

.form{
    height: 500px;
}
.ft-container .ft-green{
    background-color: #1ABC9B;
    color: white;
}
.ft-container .ft-green:hover{
    padding: 5px 5px;
}

/* FOOTER */

footer{
    background-color: #3A546D;
}

footer .footer-top{
}

footer .footer-bottom{
    height: 110px;
    background-color: #2C3E50;
}

footer div.container.footer-top.text-center div.container.align-items-center.pt-5 div.row.row-cols-1.row-cols-md-3 div.col div.social a.text-reset{
    border-radius: 50%;
    border:1px solid  white;
    padding: 5px 7px;
}
